<nav class="navbar navbar-expand-lg nav-container fixed-top ">
 
    <a class="navbar-brand" href="/dashboard/"><i class="fas fa-dice-d20"></i></a>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon my-toggler"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto float-right">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#profilModal">
          
          Compte
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">
          
          Catalogue
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#inboxModal">
          Messagerie <span class="badge badge-pill bg-light align-text-bottom">0</span>
        </a>
        
      </li>
      <!-- <li class="nav-item">
        <a href="" class="nav-link">Activités</a>
    </li>
      <li class="nav-item">
          <a href="" class="nav-link">Profil</a>
      </li>
      <li class="nav-item">
          <a href="" class="nav-link">Messagerie</a>
      </li> -->
      <li class="nav-item">
          <a href="/users/logout" class="nav-link">Déconnexion</a>
      </li>
     
      
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item alt">
            <a class="nav-link active alt-sidebar-title" href="#">
              Menu 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#profilModal">
              <i class="far fa-user"></i>
              Compte
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="#" data-toggle="modal" data-target="#inboxModal">
              <i class="far fa-envelope"></i>

              Messagerie <span class="badge badge-pill bg-light align-text-bottom">0</span>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">
              <i class="fab fa-buromobelexperte"></i>          
                 Catalogue
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-shopping-cart"></i>
             Mes commandes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="far fa-question-circle"></i>
              Besoin d'aide?
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Accés</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-line"></i>
               Rapports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-history"></i>
              Historique d'Activités
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-lock"></i>
              Sécurité
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">
              <i class="fas fa-sign-out-alt"></i> 
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Complétez votre commande</h2>
    <p class="lead">Veuillez remplir ce formulaire afin de finaliser votre commande</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Votre panier</span>
        <span class="badge badge-secondary badge-pill">2</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Pro</h6>
            <small class="text-muted">Package professionnel</small>
          </div>
          <span class="text-muted">4.99 €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Premium</h6>
            <small class="text-muted">Package premium</small>
          </div>
          <span class="text-muted">10.99 €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Code promo</h6>
            <small>PROMOCODE</small>
          </div>
          <span class="text-success">-3 €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (EUR)</span>
          <strong>12.98 €</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control alt-general-input" placeholder="Code promo">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Appliquer</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Adresse de facturation</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Prénom</label>
            <input type="text" class="form-control alt-general-input" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Nom de famille</label>
            <input type="text" class="form-control alt-general-input" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Nom d'utilisateur</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control alt-general-input" id="username" placeholder="Nom d'utilisateur" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Votre adresse e-mail <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control alt-general-input" id="email" placeholder="mail@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Adresse</label>
          <input type="text" class="form-control alt-general-input" id="address" placeholder="" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Adresse 2 <span class="text-muted">(Optionnel)</span></label>
          <inputpe="text" class="form-control alt-general-input" id="address2" placeholder="N° Appartement">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Pays</label>
            <select class="custom-select d-block w-100 alt-general-input" id="country" required>
              <option value="">Choisir...</option>
              <option>France</option>
              <option value="">Allemange</option>
              <option value="">Espagne</option>
              <option value="">Etats Unis</option>
              <option value="">Italie</option>
              <option value="">Suisse</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">Région</label>
            <select class="custom-select d-block w-100 alt-general-input" id="state" required>
              <option value="">Choisir...</option>
              <option>Ile-De-France</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Code postal</label>
            <input type="text" class="form-control alt-general-input" id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">L'adresse de réception est la méme que l'adresse de facturation</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Enregistrer mes informations pour la prochaine fois</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>
        <div class="check-icons">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-cc-apple-pay"></i>
            <i class="fab fa-cc-amazon-pay"></i>
        </div>
       

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Carte de crédit</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Carte de débit</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Nom sur la carte</label>
            <input type="text" class="form-control alt-general-input" id="cc-name" placeholder="" required>
            <small class="text-muted">Nom complet comme indiqué sur la carte</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Numéro de carte de crédit</label>
            <input type="text" class="form-control alt-general-input" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Date d'éxpiration</label>
            <input type="text" class="form-control alt-general-input" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control alt-general-input" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <a href="dashboard" class="btn btn-block alt-general-btn mb-5">Procéder au payement</a>

      </form>
    </div>
  </div>

  
</div>
<!-- FOOTER/CONTACT SECTION-->
<!--FOOTER Section-->
<footer class="page-section container-fluid border-top" id="footer">
    <div class="row footer-big mt-3">
        <!-- Grid Footer row -->
            <!-- Grid Footer column -->
            <div class="col-md-3 ">
              
            </div>
            <!-- End Grid Footer column -->
            <!-- Grid Footer column -->
            <div class="col-md-3">
              <div class="footer-menu">
                  
                <h5 class="alt-footer-subtitle font-alt mb-4 ">
                    Contact:
                </h5>
                <ul class="nav flex-column mb-2">
                  <li class="">
                    <a class="nav-link" href="#">
                      <i class="fas fa-phone"></i>
                      +33 (0) 6 51 75 84 89
                    </a>
                  </li>
                  <li class="">
                    <a class="nav-link" href="#">
                      <i class="fas fa-paper-plane"></i>
                      mounir.laskri@gmail.com
                    </a>
                  </li>
                  <li class="">
                    <a class="nav-link" href="#">
                      <i class="fas fa-hand-point-right"></i>
                     mounirlaskri.com
                    </a>
                  </li>
                  <li class="">
                    <a class="" href="" >
                      <i class="fab fa-github"></i>
                    </a>
                    <a class="" href="" ><i class="fab fa-linkedin"></i></a>
                    <a class="" href="" ><i class="fab fa-codepen"></i></a>
                    
                      
                  </li>
                </ul>
            </div>
                <!-- Links -->
            </div>
            <!-- End Grid Footer column -->
            <!-- Grid Footer column -->
            <div class="col-md-3 ">
              <div class="footer-menu">
                  
                <h5 class="alt-footer-subtitle font-alt mb-4 ">
                    Pratiques:
                </h5>
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#profilModal">
                      <i class="far fa-user"></i>
                      Compte
                    </a>
                  </li>
                  <li class="nav-item">
                    
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#inboxModal">
                      <i class="far fa-envelope"></i>
        
                      Messagerie 
                    </a>
                    

                    
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#pricing">
                      <i class="fab fa-buromobelexperte"></i>          
                         Catalogue
                    </a>
                  </li>
                </ul>
            </div>
               
                <!-- Links -->
            </div>
            <!-- End Grid Footer column -->
            <!-- Grid Footer column -->
            <div class="col-md-3 ">
              
                <!-- Links -->
            </div>
            <!-- End Grid Footer column -->
            <!-- Grid Footer column -->
            <div class="container-fluid footer-copyright text-center mb-1">
                <!-- Copyright -->
                    <p>
                        © 2020<a href="index.html"> LoginPassport</a>. All rights reserved. Created by<a href="https://github.com/Mounir247" target="_blank"> Laskri Mounir</a>
                    </p>
                <!-- End Copyright -->
            </div>
        <!-- End Grid Footer column -->
  </div>
  </footer>
  <!--FOOTER Section-->
    <!--END FOOTER/CONTACT SECTION-->
  