
  <div class="row mt-5  ">
    <div class="col-md-6 alt-login-box m-auto">
     
        <h1 class="text-center mb-3"> Accédez a votre compte</h1>
        <%- include ("partials/messages") %>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email" class="alt-login-label">Votre email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control alt-general-input"
              placeholder="exemple@email.com"
            />
          </div>
          <div class="form-group">
            <label for="password" class="alt-login-label">Votre mot de passe</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control alt-general-input"
              placeholder="Mot de passe"
            />
          </div>
          <button type="submit" class="btn alt-login-btn btn-block">S'identifier</button>
        </form>
        <p class="lead mt-4 ">
          Pas encore inscrit? <a href="./register"><strong>Enregistrez-vous</strong></a>
        </p>
      
    </div>
  </div>

