<div class="row mt-5 ">
  <div class="col-md-6 m-auto alt-welcome-box  text-center">
    <h1 style="font-size: 80px;"><i class="fas fa-dice-d20"></i></h1>
    <div class="alt-welcome-title">
      <p>Connectez-vous à votre compte </p>
    </div>
    <a href="./login" class="btn btn-block alt-general-btn">Me connecter</a>

    <div class="alt-welcome-title">
      <p>Pas encore de inscrit?</p>
    </div>
    <a href="./register" class="btn btn-block alt-general-btn mb-2">Créer un compte</a>
    <div class="checkbox mb-1 mt-3">
      <label>
        <input type="checkbox" value="remember-me"> Se souvenir de moi.
      </label>
    </div>
  </div>
</div>