body {
    background-color: rgb(114, 55, 55);
}
/*=============
= Layouts EJS =
=============*/
.alt-welcome-box {
    position: relative;
    padding :0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0rem;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding: 1.25rem;
}

.alt-welcome-title{
    font-size: 1.3rem;
    font-weight: 300;
}
.alt-welcome-btn{
    font-size: 1.2rem;
    font-weight: 700;

    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 0px;
}
.alt-welcome-btn:hover{
    background-color: #000;
    color: #fff;
    
}
/*=================
= End Layouts EJS =
=================*/

/*===========
= Login EJS =
===========*/
.alt-login-box{
    position: relative;
    padding :0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0rem;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding: 1.25rem;
}

.alt-login-label{
    font-size: 1.1rem;
    font-weight: 500;
}

.alt-login-input{
    border: 1px solid #000;
    border-radius: 0;
}
.alt-login-btn{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.alt-login-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
/*===============
= END Login EJS =
===============*/

/*==============
= Register EJS =
==============*/
.alt-register-box{
    position: relative;
    padding :0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0rem;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding: 1.25rem;
}
.alt-register-label{
    font-size: 1.1rem;
    font-weight: 500;
}

.alt-register-input{
    border: 1px solid #000;
    border-radius: 0;
}
.alt-register-btn{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.alt-register-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
/*==================
= END Register EJS =
==================*/
/*===============
= Dashboard EJS =
===============*/
/* .nav-container {
    background-color: #4e5833 ;
    opacity: 0.8;
}
 
.navbar-nav {
    width: 100%;
    justify-content: flex-end;
    
    

}
nav .navbar-nav li a {
    font-weight: 700;
    border: 1px solid #e00707;
    border-radius: 5px;
    color: #e00707 !important;
}
nav .navbar-nav li a:hover {
    background-color: #e00707;
    border: 1px solid #e00707;
    color: #000000 !important;
}
.logo {
    text-indent: -9999px;
    color: #fff;
    width: 150px;
    height: 50px;
} */

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
      background-color: rgb(121, 89, 89);
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  

/*===================
= END Dashboard EJS =
===================*/



