body {
    background-color: rgb(255, 255, 255);
}
/*=============
= Layouts EJS =
=============*/
.alt-welcome-box {
    position: relative;
    padding :0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 1.25rem;
}

.alt-welcome-title{
    font-size: 1.3rem;
    font-weight: 300;
}
.alt-general-btn{
    font-size: 1.2rem;
    font-weight: 700;

    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 0px;
}
.alt-general-btn:hover{
    background-color: #000;
    color: #fff;
    
}
/*=================
= End Layouts EJS =
=================*/

/*===========
= Login EJS =
===========*/
.alt-login-box{
    position: relative;
    padding :0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 1.25rem;
}

.alt-login-label{
    font-size: 1.1rem;
    font-weight: 500;
}

.alt-login-input{
    border: 1px solid #000;
    border-radius: 0;
}
.alt-login-btn{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.alt-login-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
/*===============
= END Login EJS =
===============*/

/*==============
= Register EJS =
==============*/
.alt-register-box{
    position: relative;
    padding :0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 1.25rem;
}
.alt-register-label{
    font-size: 1.1rem;
    font-weight: 500;
}

.alt-register-input{
    border: 1px solid #000;
    border-radius: 0;
}
.alt-register-btn{
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.alt-register-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
/*==================
= END Register EJS =
==================*/
/*===============
= Dashboard EJS =
===============*/
  /*
   * Navbar
   */
  
 
.nav-container { 
    background-color: #ffffff ;
    border-bottom: 1px solid #aca3a3;
    padding: 0;
}
.navbar-brand {
    color: #000;
    font-size: 30px;
    margin-left: 10px;

  }
  
.navbar-nav {
    width: 100%;
    justify-content: flex-end;
    
    

}
nav .navbar-nav li a {
    margin: 0px 2px 0 2px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: #000000 !important;
}
nav .navbar-nav li a:hover {
    
    text-decoration: underline;
    color: #503232 !important;
}
.logo {
    text-indent: -9999px;
    width: 150px;
    height: 50px;
}


  /*
   * Sidebar
   */
  
  .sidebar {
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
      background-color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #3b3434;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #152a41;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
   .alt-project-container{
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;

}
.alt-project-item{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 1;
    border: 1px solid transparent;
    /* border-radius: 10px; */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.post-prev-img{
    background-color: transparent;
}
.post-prev-img img {
    
    position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    */
    font-size: 18px;
    font-weight: 700;
}

.post-prev-img a:hover {
    
    opacity: 0.5;
    filter: alpha(opacity=70);
    transition: .5s linear;
}
.post-news-title a {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 10px 0 10px 0;

}


.post-prev-text{
    margin: 20px 5px 10px 5px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(7, 22, 22);
    
}

.weather-widget{
  width: 50%;
  }

  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }

  /*modal*/ 
  .alt-modal-container{
    
    width: 100%;
    height: 100%;
    opacity: 1s;
    border: 1px solid transparent;
    /* border-radius: 10px; */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



/*===================
=  FOOTER SECTION   =
===================*/


.alt-footer-logo{
  width: 50%;
  height: auto;
}
.footer-widget-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

a:focus,
a:hover {
  text-decoration: none;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}

a:focus {
  outline: 0
}

.footer-big {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  background-color: #ffffff;
  color: #000000;
  opacity: 0.8;
  padding: 50px 0 0 0;
}

.footer-big .footer-widget {
  margin-bottom: 40px
}

.footer--light {
  background: #ffffff;
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
  color: #000000;
}

.footer-menu {
  padding-bottom: 20px;
  text-align: center;
}

.footer-menu ul li a {
  font-size: 15px;
  line-height: 32px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-menu ul li a:hover {
  color: rgb(0, 0, 0);
}

.footer-widget-title a{
  line-height: 10px;
  font-size: 15px;
  color: #000000;
}
.alt-footer-subtitle{
  text-decoration: underline;
  font-size: 1.5rem;
}
.alt-footer-label .font-alt{
  font-size: 20px;
  color: #000000;
}
.alt-footer-num a{
  text-decoration: underline;
  font-size: 20px;
  color: #000000;

}
.alt-footer-num a:hover{
  text-decoration: none;
  font-size: 20px;
  

}
.alt-footer-mail a{
  text-decoration: underline;
  font-size: 20px;
  color: #000000;
}
.alt-footer-mail a:hover{
  text-decoration: none;
  font-size: 20px;
 
}
.widget-about img {

  display: block;
  margin-bottom: 30px
}

.widget-about p {
  font-weight: 400
}

.widget-about .contact-details {
  margin: 30px 0 0 0
}

.widget-about .contact-details li {
  margin-bottom: 10px
}

.widget-about .contact-details li:last-child {
  margin-bottom: 0
}

.widget-about .contact-details li span {
  padding-right: 12px
}

.widget-about .contact-details li a {
  color: #1f212e;
}



.mini-footer {
  background: #ffffff;
  text-align: center;
  padding: 25px 0;
  height: 5px;
}

.mini-footer p {
  margin: 0;
  line-height: 26px;
  font-size: 10px;
  color: rgb(0, 0, 0)
}

.mini-footer p a {
  color: #404463;
}

.mini-footer p a:hover {
  color: #000000;
}
.footer-copyright a{
  bottom: 0;
  color: rgb(12, 14, 10);
}

/*===================
= END FOOTER SECTION=
===================*/
/*===================
= END Dashboard EJS =
===================*/

/*=============
= Payment EJS =
=============*/
.check-icons i{
  font-size: 30px;
}
/*=================
= END Payment EJS =
=================*/


